ABAS_HOMEDIR=/mnt1/abas/s3
ABAS_CLIENTDIR=/mnt1/abas/entw1
ABAS_CLIENTID=entw1

EDP_CLIENT=/mnt1/abas/entw1
EDP_USER=
EDP_PASSWORD=<edp-PAsswort>
EDP_HOST=6.180.10.231
EDP_PORT=6550

NEXUS_HOST=6.180.10.231
NEXUS_PORT=8081
NEXUS_NAME=6.180.10.231
NEXUS_PASSWORD=admin123

SSH_HOST=6.180.10.231
SSH_PORT=22
SSH_USER=entw1
SSH_PASSWORD=<ssh-Passwort>
SSH_KEY=

installType=SSH

version = 0.0.1-SNAPSHOT
